.main-home{

    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.home-game__column{
    padding-top: 20px;
    width: 225px;
  text-align: center;
  display: block;
  color: #545454;
  float: left;
  margin-left:10px;
  margin-right: 10px;
  margin-bottom: 80px;
}
.home-game__column img{
    width:150px;
    height: 150px;
}
.home-game__order{
    padding-top: 10px;
}